<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer>
	<ul>
		<li><a href="/">Splash</a></li>
		<li><a href="https://www.youtube.com/channel/UCDhzksj3HUGds3zf7DqhHjA">YouTube</a></li>
		<li><a href="https://www.instagram.com/nycxclothes/">Instagram</a></li>
	</ul>
</footer>