<!-- HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header>
	<h1><a href="/home">NYCxClothes</a></h1>
	<ul><span>|</span>
		<li><a href="/home">Home</a></li><span>|</span>
		<li><a href="/about">About Us</a></li><span>|</span>
		<li><a href="/contact">Let's Chat</a></li><span>|</span>
		<li><a href="https://www.youtube.com/channel/UCDhzksj3HUGds3zf7DqhHjA"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li><span>|</span>
		<li><a href="https://www.instagram.com/nycxclothes/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li><span>|</span>
		<li><a href="https://plus.google.com/u/0/115831714671929771378"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><span>|</span>
	</ul>
</header>