<!-- HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<p>NYC-based sisters + fashion & lifestyle vloggers</p>

	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>

</header>