<!-- HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header>
	<h1><a href="/home">NYCxClothes</a></h1>
	<span style="margin:0 10px;">|</span>
	<ul>
		<li><a href="/home"><i class="fa fa-home" aria-hidden="true"></i></a></li><span style="margin:0 10px;">|</span>
		<li><a href="/about">About</a></li><span style="margin:0 10px;">|</span>
		<li><a href="/contact">Contact</a></li><span style="margin:0 10px;">|</span>
		<li><a href="https://www.youtube.com/channel/UCDhzksj3HUGds3zf7DqhHjA"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
		<li><a href="https://www.instagram.com/nycxclothes/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		<li><a href="https://plus.google.com/u/0/115831714671929771378"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
	</ul>
</header>