<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/scripts.min.js"></script>
  </body>
</html>
