html {
	background-color: #000;
}

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // font-family: 'Lobster', cursive;
  color: #fff;
	height:100vh;
	width:100%;
}

header {
  position: relative;
  z-index: 3000;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

button {
  border-radius: 0px;
  cursor: pointer;
  padding: 5px;
}


// SPLASH PAGE
div.pics {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width:100% !important;
}

div.pic {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width:100% !important;
}