html {}

body {
  background-color: #fff;
  color: #222;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Raleway', sans-serif;
	height:100vh;
	width:100%;
}

header {
  position: relative;
  z-index: 3000;

  h1 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;

    a { color: #222; }
  }
  ul {
    display: inline-block;

    li { display: inline-block; }
  }
  span { margin: 0 10px; }
}

footer {
  background-color: #fff;
  // border-top: 1px solid #555;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;

  ul {
    margin: 0;
    line-height: 20px;
    vertical-align: middle;
  }
  li {
    display: inline-block;
    text-align: center;
    margin: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Sacramento', cursive; }

a {
  color: #00B7FF;
  text-decoration: none;
}

button {
  background-color: #fff;
  border-radius: 0px;
  cursor: pointer;
  height: 25px;
  line-height: 16px;
  padding: 5px;
  vertical-align: middle;
}

li {
  list-style-type: none;
}