<!DOCTYPE html>
<html lang="en">
	<% include ../partials/head %>
	<body class="container"> <!-- .container is main centered wrapper -->
		<% include ../partials/header %>

	<!-- BODY
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<main>
			<h1>ABOUT</h1>

			<p>Embracing the many you's</p>

			<p>NYCxClothes is a fashion and lifestyle brand dedicated to empowering young women to live their fullest potential.</p>

			<p>Shelcy graduated with a neuropsychology major and the urge to explore all her passions. She can easily go from reading a science magazine to talking about philosophy. She'll most likely always have a notebook in her bag. She loves creating. If she's reading or writing, you can catch her wandering in the city - trying new restaurants, interacting with locals and starting conversations.</p>

			<p>Christy is an international business student with a curious soul driven by the arts. She's a film enthusiast who feeds off substance from deep interactions. She's afraid of routine so any given day, you can find her venturing around - watching a movie at dawn on a projector, talking to strangers or trying to discover the next coffee shop.</p>

		</main>
		<% include ../partials/footer %>
	</body>

<!-- SCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/scripts.min.js"></script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>