<!DOCTYPE html>
<html lang="en">
	<% include ../partials/head %>
	<body id="home" class="container"> <!-- .container is main centered wrapper -->
		<% include ../partials/header %>

	<!-- BODY
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<main class="row">
			<h1>Home</h1>

			<p>NYCxClothes is a fashion and lifestyle brand dedicated to empowering young women to live their fullest potential.</p>

		</main>
		<% include ../partials/footer %>
	</body>

<!-- SCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/scripts.min.js"></script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>