<!DOCTYPE html>
<html lang="en">
	<% include ../partials/head %>
	<body id="index">

	<!-- HEADER
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<header class="splash container">
			<div class="splash-text row">
				<h1><%= title %></h1>
				<h3>Embracing the many you's</h3>
			</div>
			<div class="splash-links row">
				<a href="/home"><button>Enter</button></a>
				<a href="https://www.youtube.com/channel/UCDhzksj3HUGds3zf7DqhHjA">
					<button><i class="fa fa-youtube-play" aria-hidden="true"></i><span>YouTube</span></button>
				</a>
				<a href="https://www.instagram.com/nycxclothes/">
					<button><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></button>
				</a>
			</div>
		</header>

	<!-- BODY
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<main>
			<div id="slideshow3" class="pics">
				<div class="pic" style="background-position: 50% 100%; background-image: url(/images/main-img5.jpg);"></div>
				<div class="pic" style="background-position: 50% 50%; background-image: url(/images/main-img1.jpg);">
					<div class="scrim"></div>
				</div>
				<div class="pic" style="background-position: 50% 50%; background-image: url(/images/main-img3.jpg);"></div>
				<div class="pic" style="background-position: 50% 25%; background-image: url(/images/main-img2.jpg);"></div>
				<div class="pic" style="background-position: 50% 50%; background-image: url(/images/main-img4.jpg);"></div>
				<div class="pic" style="background-position: 50% 50%; background-image: url(/images/main-img6.jpg);">
					<div class="scrim"></div>
				</div>
				<div class="pic" style="background-position: 50% 50%; background-image: url(/images/main-img0.jpg);"></div>
			</div>
		</main>
	</body>

<!-- SCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/scripts.min.js"></script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>