<!DOCTYPE html>
<html lang="en">

	<% include ../partials/head %>

	<body>

		<% include ../partials/header %>

	<!-- BODY
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<main>
			<h1>INDEX</h1>

			<div class="fadein">
			    <img src="images/main-img0.jpg">
			    <img src="images/main-img1.jpg">
			    <img src="images/main-img2.jpg">
			    <img src="images/main-img3.jpg">
			    <img src="images/main-img4.jpg">
			    <img src="images/main-img5.jpg">
			    <img src="images/main-img6.jpg">
			</div>

		</main>


		<% include ../partials/footer %>
	</body>

<!-- SCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/scripts.min.js"></script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>