<!DOCTYPE html>
<html lang="en">

	<% include ../partials/head %>

	<body>

	<!-- HEADER
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<header style="position: absolute; bottom: 0; left: 0; margin: 0 0 10vh 10vw;">
		<h1 style="margin: 5px 0;"><%= title %></h1>
		<p style="margin: 5px 0;">NYC-based sisters + fashion & lifestyle vloggers</p>

		<a style="margin: 0 5px 0 0;" href="/home"><button>Enter</button></a>
		<a style="margin: 0 5px;" href="https://www.youtube.com/channel/UCDhzksj3HUGds3zf7DqhHjA">
			<button><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</button>
		</a>
		<a style="margin: 0 5px;" href="https://www.instagram.com/nycxclothes/">
			<button><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</button>
		</a>
	</header>

	<!-- BODY
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<main>
			<div id="slideshow3" class="pics">

				<div class="pic" style="background-image: url(http://localhost:3000/images/main-img0.jpg); background-position: 50% 50%;"></div>
				<div class="pic" style="background-image: url(http://localhost:3000/images/main-img1.jpg); background-position: 50% 50%;"></div>
				<div class="pic" style="background-image: url(http://localhost:3000/images/main-img2.jpg); background-position: 50% 25%;"></div>
				<div class="pic" style="background-image: url(http://localhost:3000/images/main-img3.jpg); background-position: 50% 50%;"></div>
				<div class="pic" style="background-image: url(http://localhost:3000/images/main-img4.jpg); background-position: top;"></div>
				<div class="pic" style="background-image: url(http://localhost:3000/images/main-img5.jpg); background-position: bottom;"></div>
			</div>
		</main>
	</body>

<!-- SCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/scripts.min.js"></script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>