<!DOCTYPE html>
<html lang="en">
	<% include ../partials/head %>
	<body id="pics" class="container"> <!-- .container is main centered wrapper -->
		<% include ../partials/header %>

	<!-- BODY
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<main class="row">
			<h1>Pictures</h1>

			<div class="row">
			<% pics.forEach(function(pic, idx) { %>
				<div class="one-half column">
					<a href="<%= pic.link %>">
						<img src="<%= pic.thumbnail.url %>" alt="<%= pic.code %>">
					</a>
				</div>

			<% if (idx%2==1) { %>
				</div>
				<div class="row">
			<% } %>

			<% }); %>
			</div>

		</main>
		<% include ../partials/footer %>
	</body>

<!-- SCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/scripts.min.js"></script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>